<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @registration.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @registration.last_name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @registration.organization %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @registration.linked_in %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
